<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Smart Office Control System</title>
</head>
<body>
    <h1>Smart Office Control System</h1>

    <div class="device">
        <span>Light</span>
        <button onclick="toggleDevice('light')">Toggle</button>
        <span id="light-status">OFF</span>
    </div>

    <div class="device">
        <span>Fan</span>
        <button onclick="toggleDevice('fan')">Toggle</button>
        <span id="fan-status">OFF</span>
    </div>

    <div class="device">
        <span>Door</span>
        <button onclick="toggleDevice('door')">Toggle</button>
        <span id="door-status">CLOSED</span>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>