
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    background: #5A5A5A;
}

.device {
    font-size: 40px;
    margin: 20px;
    padding: 20px;
}


/* -------------------------DEVICES SWITCH---------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.switch input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2; /* sits on top */
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 28px;
    z-index: 1;
}

/* Knob */
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

/* On State */
input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(24px);
}
