
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    background: #6e6d6d;
}

.device {
    margin: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}

.switch input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 28px;
    z-index: 1;
}

.slider:before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 3px;
    top: 3px;
    background: white;
    transition: 0.3s;
    border-radius: 50%;
}

/* ON STATE */
input:checked + .slider {
    background: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(24px);
}